:root{
    --accent-color:#2196F3
}

body {
    font-family: 'roboto' ,sans-serif ;
}
.list {
    list-style: none;
}
.link{
    text-decoration: none;
}




/*------------------------ header--------------------- */
.header{
    padding-top:24px;
    padding-bottom: 25px;
}

.header-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #212121;
}
.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus
{
color: var(--accent-color);
}
.header-tel{


font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;

color: #757575;
}
.header-mailto{
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;

}
/*----------------------- buisness------------------- */
.buisness{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:  #2F303A;;
}

.buisness-pre-title{
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase; 
color: #FFFFFF;
margin-bottom: 34px;
}
.buisness-btn{
ont-size: 16px;
line-height: 1.875;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
/* position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px; */
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
 /*------------------ work----------------------- */
.work{
    padding-top: 94px;
    padding-bottom: 94px;
}
.work-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
    
}
.work-pre-title{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 94px;
}
.work-title-work{
    font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.work-item{
    padding-top: 50px;
    margin-bottom: 94px;
}

/*=----------------------- comand----------- */
.comand{
    padding-top: 94px;
    padding-bottom: 94px;
}
.comand-img{
    margin-bottom: 30px;
}
.comand-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;

}
.comand-pre-title{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
margin-bottom: 10px;


/* text-align: center; */
letter-spacing: 0.03em;

color: #212121;
}
.comand-after-title{
font-weight: normal;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: #757575;
margin-bottom: 30px;
}
/* ------------------------footer---------------  */
.footer{
padding-top: 60px;
padding-bottom: 60px;

background: #2F303A;
}
/* -----------------adres----------- */
.link2{
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.link3{
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);;
}
.current{
    color: #2196F3;
}
/* -------------------------------------portfolio--------------------- */
.portfolio-btn{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
    background: #2196F3;
    
}
.portfolio-pre-title{
    font-weight: bold;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;

color: #212121;

}
.portfolio-title{
    font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

color: #757575;


}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}